<div class="comment-top">
    <h4>Yorum yapın</h4>
    <div class="comment-bottom">
        <form action="~/Comment/PartialAddComment/" method="post">
            <!--name alanı db deki ismi ile çekildi.-->
            <input class="form-control" type="text" name="CommentUserName" placeholder="Adınız - Soyadınız" required="">
            <input class="form-control" type="text" name="CommentTitle" placeholder="Başlık" required="">
            <textarea class="form-control" name="CommentContent" placeholder="Yorumunuz..." required=""></textarea>

            <button type="submit" class="btn btn-primary submit">Gönder</button>
        </form>
    </div>
</div>