

<div class="tech-btm">
    <h4>Haber Bültenine Abone Ol</h4>
    <p>Teknoloji, yazılım ve diğer bloglar...</p>
    <form action="~/Newsletter/SubscribeMail" method="post">
        <!--name ="Mail" attr eklendi name : sql ile aynı .. -->
        <input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" value="Abone Ol">
    </form>

</div>